<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Book Details</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" 
          rel="stylesheet" 
          integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIr9Nao0YZ1ztcQTwFspd3yD65VohhpuuCOmLASjC" 
          crossorigin="anonymous">
</head>
<body>

<div class="container py-5">
    <div class="card shadow-sm">
        <div class="card-body">
            <h2 class="card-title" th:text="${book.title}">Book Title</h2>
            <h6 class="text-muted">ISBN: <span th:text="${book.isbn}">123456</span></h6>
            <p class="card-text mt-3" th:text="${book.description}">Description goes here</p>
            <p class="card-text">Pages: <span th:text="${book.numOfPages}">300</span></p>

            <strong>Authors:</strong>
            <ul th:each="author : ${book.authors}">
                <li th:text="${author}">Author Name</li>
            </ul>

            <br />
            <a th:href="@{/}" class="btn btn-secondary mt-3">Return to books</a>
        </div>
    </div>
</div>

</body>
</html>
